# Django specific files
*.log
*.pot
*.pyc
*.py[cod]
*.sqlite3
__pycache__/
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Secrets and configurations
service-account-key.json
service-account-email.txt
*.pem

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# Python specific
*.egg
*.egg-info/
.eggs/
*.pyo
*.pyd
*.whl
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Celery beat schedule file
celerybeat-schedule

# Distribution / packaging
.Python
.pytest_cache/
.cache/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
.nox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.env
.env.*
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Testing
.pytest_cache/
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# MyPy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

#chroma
chroma/